{extend name="base"/}
{block name="distcss"}
<link href="__HOME__/dist/css/wx_qt_qyfw.css" rel="stylesheet">
{/block}
</head>

{block name="content"}
<div class="wx_qyfw_header_img">
	<img src="__UPLOAD__/{$fu.image}">
</div>
<div class="wx_qyfw_box">
	<div class="wx_qyfw_box_tit_box">
		<span class="wx_qyfw_box_tit">{$fu.name}</span>
	</div>
	
	<div class="wx_qyfw_main_box">
		{volist name="pagintor" id="item"}
		<div class="wx_qyfw_main"><a href="{:url('qyfw2','id='.$item['id'])}">
			<img src="__UPLOAD__/{$item.img}">
			<p>{$item.name}</p>
		</a></div>
		{/volist}
	</div>	
</div>
<!-- 底部栏显示标识 -->
<div class="wx_qt_dbgdl_active">1</div>
{/block}
{block name="javascript"}
<script src="__HOME__/dist/js/flfw.js"></script>
{/block}